body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    color: #222020;
    background-color: #0b0a0a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12%;
    background-color: #050505;
    color: #fff;
    border-bottom: 4px solid #00ff00;
    font-family: 'Lexend Mega', sans-serif;
}

.logo {
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-family: 'Grey Qo', sans-serif;
}

.navlinks {
    display: flex;
    gap: 20px;
}

.navlinks a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.navlinks a:hover,
.navlinks a.active {
    color: #00ff00;
}

.contact {
    padding: 10px 20px;
    background-color: #00ff00;
    color: #ffffff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
}

.contact:hover {
    background-color: rgb(74, 73, 73);
}

section {
    padding: 60px 12%;
    max-width: 1200px;
    margin: auto;
}

.home {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(135, 135, 140);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.homecont {
    max-width: 800px;
}

.homecont h3 {
    font-size: 42px;
}

.homecont h1 {
    font-size: 62px;
    line-height: 1.2;
}

.homecont p {
    font-size: 18px;
    margin: 25px 0 30px;
    font-weight: bolder;
}

.btnbox {
    display: flex;
    gap: 2em;
}

.btn {
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
}
a:link{
    color: white;
  background-color: transparent;
  text-decoration: none;
}
.btn:hover {
    background-color: rgb(16, 239, 27);
    color: black;
    border: 2px solid black;
}

.imgbox img {
    border-radius: 50%;
    width: 550px;
}
#skills {
    background: rgb(135, 135, 140);;
    border-radius: 8px;
    padding: 40px 12%;
}
#skills h2 {
    text-align: center;
    color: #050505;
    margin-bottom: 20px;
    font-size: 42px;
    font-family: sans-serif;
}
#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding:0px ;
    list-style: none;
}
#skills li {
    background: #1a1a1a;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    color: #e9dfdf;
    max-width: 250px;
    text-align: center;
    font-family: sans-serif;
    margin-top: 20px;
    box-shadow: 0 0 8px rgba(0, 255, 0, 0.6); 
    transition: box-shadow 0.3s ease; 
}

#skills li:hover {
    box-shadow: 0 0 30px rgba(0, 255, 0, 1); 
}

#certifications {
    background-color: rgb(135, 135, 140);;
    border-radius: 8px;
    padding: 40px 12%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
#certifications h2 {
    text-align: center;
    color: #050505;
    margin-bottom: 20px;
    width: 100%;
    font-family:  sans-serif;
    font-size: 42px;
    font-family: 
}
.certificate {
    flex: 1 1 250px;
    max-width: 300px;
    text-align: center;
}
.certificate img {
    width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
}
.certificate h3 {
    color: #050505;
    font-size: 1.2em;
    margin-top: 5px;
    font-family: 'Akaya Telivigala', sans-serif;
}

#projects {
    background-color: rgb(135, 135, 140);;
    border-radius: 8px;
    padding: 40px 12%;
}

#projects h2 {
    text-align: center;
    color: #050505;
    margin-bottom: 20px;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 42px;
}

.project {
    margin: 20px 0;
    text-align: center;
}

.project img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.8); 
    transition: box-shadow 0.3s ease; 
    border: none;
}

.project img:hover {
    box-shadow: 0 0 25px rgba(0, 255, 0, 1); 
}

.project h3 {
    color: #050505;
    margin-top: 10px;
    font-size: 1.3em;
}

.project p {
    color: #050505;
    font-size: 1.1em;
    line-height: 1.5;
    font-weight: bolder;
}

#resume {
    text-align: center;
    background-color: rgb(135, 135, 140);;
    border-radius: 8px;
    padding: 40px 12%;
}

#resume a {
    text-decoration: none;
    color: #00ff00;
    font-size: 1.2em;
    border-bottom: 2px solid #00ff00;
    transition: color 0.3s ease, border-color 0.3s ease;
}

#resume a:hover {
    color: #dd0000;
    border-bottom: 2px solid #dd0000;
}

#contact {
    background-color: rgb(248, 248, 248);
    border-radius: 8px;
    padding: 40px 12%;
}
.contactme{
    background-color: #111111;
    color: #ddd;
}
footer {
    text-align: center;
    padding: 20px;
    background-color: #050505;
    color: #00ff00;
    border-top: 4px solid #00ff00;
}

footer p {
    margin: 0;
}

footer a {
    color: #00ff00;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #00ff00;
}

::-webkit-scrollbar-track {
    background-color: black;
}
